body{
	margin: 0;
	padding: 0;
	background: #E4E5E7;
}
.goods{
	display: flex;
	justify-content: center;
}
.first_filtr_block{
	width: 80%;
	min-height: 65px;
	margin-top: 50px;
	background: white;
	border-radius: 10px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
}
.first_filtr_block div{
	margin:5px 20px;
}
.keywords{
	
}
.form-group{
	margin:0;
}
.keywords .form-group input{
	width: 160px;
	border-radius: 15px;
	height: 30px;
}
.price .form-group input{
	width: 60px;
	border-radius: 15px;
	height: 30px;
}